.ProductList .grid {
  margin: 2em auto;
  max-width: 1280px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 2em;
}

@media only screen and (max-width: 992px) {
  .ProductList .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 768px) {
  .ProductList .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 576px) {
  .ProductList .grid {
    grid-template-columns: 1fr;
  }
}

.ProductList > h1 {
  text-align: center;
}