/* 
Colours:
#ffffff -- white
#010025 -- black
#ea485d -- red
#ffeb98 -- yellow
#ff9138 -- orange

Colours palette from:
https://howdns.works/
*/

.App {
  color: #010025;
  /* background-color: #ffffff; */
}